/* // <uniquifier>: Use a unique and descriptive class name
/* // <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
	text-decoration: none;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}
body {
	background-image: url(images/original\ logo.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: fixed; */
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}
/* HEADER START */
.header {
	background-color: rgb(65, 94, 9);
	align-items: center;
	display: flex;
	padding: 20px;

	/* justify-content: center; */
}
.header-container {
	align-items: center;
	max-width: 1400px;
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.logo {
	align-content: center;
}
.text-h {
	text-transform: uppercase;
	font-size: 1rem;
	color: white;
	width: 100%;
	text-align: center;
}
.text-h h3 {
	font-size: 14px;
}
.text-h h1 {
	font-size: 32px;
}
h3 {
}
.nav-container {
	background-color: rgb(81, 119, 6);
	border-top: 2px solid rgb(81, 119, 6);
}
.nav-links {
	display: flex;
	justify-content: center;
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
	gap: 8px;
}
.nav-links a {
	padding: 5px;
	background-color: rgb(130, 193, 5);
	color: black;
	text-transform: uppercase;
	font-size: 12px;
}
.nav-btn-2,
.nav-btn-5 {
	width: 100%;
}
.nav-btn-1,
.nav-btn-3,
.nav-btn-4 {
	width: 50%;
}

.menu-icon {
	visibility: hidden;
	color: white;
	background-color: black;
	padding: 4px;
	text-align: center;
}

.nav-btn-1 {
	background-color: rgb(64, 96, 1) !important;
	color: rgb(198, 198, 5) !important;
}
.nav-btn-5 span {
	background-color: yellow;
	color: red;
	font-style: italic;
	padding: 4px 8px;
	font-size: 12px;
	font-weight: 600;
	border-radius: 100%;
	animation: endless-in infinite 1s linear;
}
/* read abt this */
@keyframes endless-in {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(300);
		opacity: 0;
	}
	51% {
		transform: scale(0);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}
.log {
	padding: 5px;
	margin-left: 1100px;
	border-radius: 5px;
	background-color: rgb(81, 119, 6);
}
.logo {
	width: 250px;
}
.login{
	display: flex;
	justify-content: right;
	/* padding-right: 80px; */
	color: white !important;
	/* border: 1px solid rgb(81, 119, 6); */
	width: 1200px;
	padding: 0px 10px;
	margin: 0px 5px 0px 0px;
	/* background-color: rgb(81, 119, 6); */
	
}

@media screen and (max-width: 1000px) {
	.nav-links a {
		display: none;
	}
	.nav-links {
		display: flex;
		justify-content: left;
	}

	.menu-icon {
		visibility: visible;
		text-align: right;
		margin: 4px;
	}
	.header-container {
		display: flex;
		flex-direction: column;
	}
}
/* main start */
.section{
	margin-top: 20px;
	margin-left: 100px;
		margin-right: 100px;
}

.section1{
	border: 1px solid transparent;
	background-color: #47651B66;
	color: aqua;
	font-weight: lighter;
	font-size: 12px;
	max-width: 1000px;
	width: 100%;
 padding-bottom: 10px;
 padding-right: 80px;
 margin-left: 30px;
 
	

}
.butt {
	padding: 6px 12px;
	background-color: rgb(64, 206, 192);
	color: #fff;
	font-weight: 600;
	font-size: 15px;
	border-radius: 5px;
	margin: 5px 10px;

}

.grid1{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 20px;
	gap: 0;
	width: 100%; */
	max-width: 100px;
	/* margin-left: 50px;
    margin-right: 50px; */

}
span{
	font-weight: bolder;
	font-size: 13px;
}
.grid1, h3{
	font-size: 24px;
	margin: 20px 0px 10px;
}
.grid1,
p{
	font-size: 13px;
	margin: 10px 0px 10px;
}
.secbutt{
	padding: 6px 12px;
		background-color: #337AB7;
		color: #fff;
		font-weight: 600;
		font-size: 15px;
		border-radius: 5px;
}
.sec-box1{
border: 1px solid #E9FFD9;
	background-color: #E9FFD9;
	border-radius: 8px;
	color: #555555;
	margin: 20px;
	padding: 10px 15px;
		
}
.sec-box2 {
	border: 1px solid #FFF8C4;
	background-color: #FFF8C4;
	border-radius: 8px;
	color: #555555;
	margin: 20px;
		padding: 10px 15px;
}
.sec-box3 {
	border: 1px solid #E9FFD9;
	background-color:#E9FFD9 ;
	border-radius: 8px;
	color: #555555;
	margin: 20px;
		padding: 10px 15px;
}

/* main end */

/* footer */
.footer{
	font-size: 12px;
	margin-top: 50%;
	display: flex;
	justify-content: center;
	border-top: 1px dashed yellow;
	border-bottom:1px dashed yellow ;
	padding: 10px;
	font-weight: 500;
	max-width: 1000px;
		width: 100%;
		margin-left: 200px;
		margin-right: 250px;
}
